language: python

python:
    - "3.5"
    - "3.6"

install:
    - pip install -r requirements.txt

matrix:
    include:
    - python: "3.6"
      env: LINT=true

script:
    - scripts/travis

after_success:
    - codecov
