# Core requirements
click
coreapi
jinja2
pytest
requests>=2.15.1,<2.16
werkzeug

# Optional
django
psycopg2
sqlalchemy
whitenoise
dj-database-url

# Testing requirements
codecov
flake8
isort
mypy
pytest-cov
