<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        
        
        <meta property="og:type" content="website" />
        <!--  Essential META Tags -->
        <meta property="og:title" content="Templates - API Star"
        />
        
        
        
        <meta name="twitter:card" content="summary_large_image">
        
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="API Star">
        <meta name="twitter:image:alt" content="API Star">
        <title>Templates - API Star</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="../../js/jquery-1.10.2.min.js" defer></script>
        <script src="../../js/bootstrap-3.0.3.min.js" defer></script>
        <script src="../../js/highlight.pack.js" defer></script> 
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../..">API Star</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                    <li >
                        <a href="../..">Home</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API Guide <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
<li >
    <a href="../applications/">Applications</a>
</li>
                            
<li >
    <a href="../requests-and-responses/">Requests and Responses</a>
</li>
                            
<li >
    <a href="../routing/">Routing</a>
</li>
                            
<li class="active">
    <a href="./">Templates</a>
</li>
                            
<li >
    <a href="../static-files/">Static Files</a>
</li>
                            
<li >
    <a href="../type-system/">The Type System</a>
</li>
                            
<li >
    <a href="../api-schemas/">API Schemas</a>
</li>
                            
<li >
    <a href="../event-hooks/">Event Hooks</a>
</li>
                            
<li >
    <a href="../dependency-injection/">Dependency Injection</a>
</li>
                            
<li >
    <a href="../testing/">Testing</a>
</li>
                            
<li >
    <a href="../deployment/">Deployment</a>
</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
<li >
    <a href="../../topics/release-notes/">Release Notes</a>
</li>
                        </ul>
                    </li>
                </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                    <li >
                        <a rel="next" href="../routing/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../static-files/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                <li>
                    <a class="repo-link"
                     href="https://github.com/encode/apistar/tree/master">
                    <img src="../../img/GitHub-Mark-Light-32px.png" alt="API Star on GitHub" class="repo-img">
                     
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

        <div class="container">
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
        <li class="main active"><a href="#templates">Templates</a></li>
            <li><a href="#configuration">Configuration</a></li>
            <li><a href="#rendering-templates">Rendering templates</a></li>
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="templates">Templates</h1>
<p>API Star is particularly designed around building APIs, but is equally
capable of being used to build web applications.</p>
<h2 id="configuration">Configuration</h2>
<p>You'll need to install <code>jinja2</code> to use the default template backend.</p>
<p>To include templates in your application, create a directory to contain the templates,
and include it with the <code>template_dir</code> argument when instantiating the app.</p>
<pre><code class="python">import os

BASE_DIR = os.path.dirname(__file__)
TEMPLATE_DIR = os.path.join(BASE_DIR, 'templates')

...

app = App(routes=routes, template_dir=TEMPLATE_DIR)
</code></pre>

<h2 id="rendering-templates">Rendering templates</h2>
<p>To render a template, use <code>app.render_template(template_name, **context)</code>.</p>
<p><strong>templates/index.html</strong>:</p>
<pre><code class="html">&lt;html&gt;
    &lt;body&gt;
        {% if name %}
        &lt;h1&gt;Hello, {{ name }}!&lt;/h1&gt;
        {% else %}
        &lt;h1&gt;Hello!&lt;/h1&gt;
        {% endif %}
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p><strong>app.py</strong>:</p>
<pre><code class="python">import os
from apistar import App, Route


BASE_DIR = os.path.dirname(__file__)
TEMPLATE_DIR = os.path.join(BASE_DIR, 'templates')


def welcome(app: App, name=None):
    return app.render_template('index.html', name=name)

routes = [
    Route('/', method='GET', handler=welcome),
]

app = App(routes=routes, template_dir=TEMPLATE_DIR)


if __name__ == '__main__':
    app.serve('127.0.0.1', 8080, use_debugger=True)
</code></pre>

<p>You can configure where templates are served from by using the <code>template_dir</code>
argument when instantiating an application.</p></div>
        </div>

        <footer class="col-md-12">
            <hr>

            <p align="center">
              <i>API Star is
                <a href="https://github.com/tomchristie/apistar/blob/master/LICENSE.md">BSD licensed</a> code.
                <br/>Designed & built in Brighton, England.</i>
              <p align="center">
                <img src="../../img/logomarque.png" alt="API Star" class="footer-logo">
              </p>
        </footer>
        <script>var base_url = '../..';</script>
        <script src="../../js/base.js" defer></script>
        <script src="../../search/require.js" defer></script>
        <script src="../../search/search.js" defer></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Search</h4>
            </div>
            <div class="modal-body">
                <p>
                    From here you can search these documents. Enter
                    your search terms below.
                </p>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="Keyboard Shortcuts Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Keyboard Shortcuts</h4>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td><kbd>&larr;</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td><kbd>&rarr;</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


    </body>
</html>
