<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
      {%- block site_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page and page.is_homepage %}<meta name="description" content="{{ config['site_description'] }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        {% if config.site_favicon %}<link rel="shortcut icon" href="{{ base_url }}/{{ config.site_favicon }}">
        {% else %}<link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">{% endif %}
        
        
        <meta property="og:type" content="website" />
        <!--  Essential META Tags -->
        <meta property="og:title" content="{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}"
        />
        {% if page and page.is_homepage %}<meta property="og:description" content="{{ config['site_description'] }}">{% endif %}
        
        {% if page and page.canonical_url %}
          <meta property="og:url" content="{{ page.canonical_url }}" />
          <meta property="og:image" content="{{ page.canonical_url }}img/og-image.jpg" />
        {% endif %}
        <meta name="twitter:card" content="summary_large_image">
        
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="{{ config.site_name }}">
        <meta name="twitter:image:alt" content="{{ config.site_name }}">
        
      {%- endblock %}

      {%- block htmltitle %}
        <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}{% if page.is_homepage %} - Docs{% endif %}</title>
      {%- endblock %}

      {%- block styles %}
        <link href="{{ base_url }}/css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="{{ base_url }}/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ base_url }}/css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url }}/css/highlight.css">
        {%- for path in extra_css %}
        <link href="{{ path }}" rel="stylesheet">
        {%- endfor %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
      {%- endblock %}

      {%- block libs %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{{ base_url }}/js/jquery-1.10.2.min.js" defer></script>
        <script src="{{ base_url }}/js/bootstrap-3.0.3.min.js" defer></script>
        <script src="{{ base_url }}/js/highlight.pack.js" defer></script>
      {%- endblock %}

      {%- block analytics %}
        {%- if config.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ config.google_analytics[0] }}', '{{ config.google_analytics[1] }}');
            ga('send', 'pageview');
        </script>
        {%- endif %}
      {%- endblock %}

      {%- block extrahead %} {% endblock %}
    </head>

    <body{% if page and page.is_homepage %} class="homepage"{% endif %}>

        {% include "nav.html" %}

        <div class="container">
            {%- block content %}
                <div class="col-md-3">{% include "toc.html" %}</div>
                <div class="col-md-9" role="main">{% include "content.html" %}</div>
            {%- endblock %}
        </div>

        <footer class="col-md-12">
          {%- block footer %}
            <hr>
            {%- if config.copyright %}
                <p>{{ config.copyright }}</p>
            {%- endif %}

            <p align="center">
              <i>API Star is
                <a href="https://github.com/tomchristie/apistar/blob/master/LICENSE.md">BSD licensed</a> code.
                <br/>Designed & built in Brighton, England.</i>
              <p align="center">
                <img src="{{ base_url }}/img/logomarque.png" alt="API Star" class="footer-logo">
              </p>
          {%- endblock %}
        </footer>

      {%- block scripts %}
        <script>var base_url = '{{ base_url }}';</script>
        <script src="{{ base_url }}/js/base.js" defer></script>
        {%- for path in extra_javascript %}
        <script src="{{ path }}" defer></script>
        {%- endfor %}
      {%- endblock %}

        {% if 'search' in config['plugins'] %}{%- include "search-modal.html" %}{% endif %}
        {%- include "keyboard-modal.html" %}

    </body>
</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
