{% extends "base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'user' user_name=user_name %}">{{ user_name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ project_name }}</li>
  </ol>
</nav>

<div class="col">
    <div class="row">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'documentation' user_name=user_name project_name=project_name %}">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'schema' user_name=user_name project_name=project_name %}">Schema</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'builds' user_name=user_name project_name=project_name %}">Builds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' user_name=user_name project_name=project_name %}">Settings</a>
            </li>
        </ul>
    </div>
    {% if not project.schema %}
        <em>No successful builds yet</em>
    {% else %}
        <div class="row mb-3">
            <a class="btn btn-primary" href="{% url 'schema_download' user_name=user_name project_name=project_name %}">Download</a>
        </div>
        <div class="row">
            <code style="width: 100%; padding: 20px; background: #555; white-space: pre; text-align: left">{{ project.schema_output }}</code>
        </div>
    {% endif %}
</div>
{% endblock %}
